.jumbotron{
    background-color: blueviolet;
    color:floralwhite;
    padding-top: 15% !important;
}
.jumbotron-class{
    background-color: rgb(233, 227, 238);
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}